body {
  margin: 0;
  background: #000;
  max-width: 100%;
  line-height: 1.3;
}

#root {
  margin: 0;
  background: #000;
  max-width: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  background: #000;
  max-width: 100%;
}

.btn-danger {
  background-color: #e50914 !important;
}

.btn {
  border-radius: 0.1875rem !important;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.netflix-sans-font-loaded {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
