@media (min-width: 640px) {
    .sm\:w-4\/5 {
        width: 80% !important;
    }
}

@media (min-width: 768px) {
    .md\:w-3\/5 {
        width: 60% !important;
    }
}

@media (min-width: 1024px) {
    .lg\:w-2\/5 {
        width: 40% !important;
    }
}

.scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
}

/* .opacity-60 {
    opacity: .6;
}

.opacity-100 {
    opacity: 1;
} */