.card-header {
  padding-left: 2rem;
  padding-right: 2rem;
  width: inherit;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: auto;
  display: block;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  display: inherit;
  height: auto;
}

.container {
  margin-left: -0.5rem;
  width: calc(100% + 0.5rem);
  display: inline-flex;
  align-items: center;
  padding: 0px;
}

.item-left {
  width: auto;
  flex: 0 auto;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.default-ltr-cache-1fhvoso * {
  box-sizing: border-box;
}

svg:not(:root) {
  overflow: hidden;
}

.item-left svg {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: currentColor;
  display: block;
  box-sizing: border-box;
}

.item-left span span {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/****************************************/

.item-right {
  width: auto;
  -webkit-box-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  flex: 0 0 calc(66.66666666666667% - 1rem);
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.item-right .layout {
  box-sizing: border-box;
  width: 100%;
  display: inherit;
  height: auto;
}

.item-right .layout .container {
  margin-left: -1.5rem;
  width: calc(100% + 1.5rem);
  flex-wrap: wrap;
  height: inherit;
  margin-top: -0px;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 0px;
  box-sizing: border-box;
}

.item-right .layout .container .language-picker-header {
  width: auto;
  flex: 0 auto;
  margin-left: 1.5rem;
  margin-top: 0px;
}

.language-picker-header label {
  right: 2.5rem;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  line-height: 0.875rem;
}
