@media (min-width: 640px) {
    .sm\:w-4\/5 {
        width: 80% !important;
    }
}

@media (min-width: 768px) {
    .md\:w-3\/5 {
        width: 60% !important;
    }
}

@media (min-width: 960px) {
    .lg\:hidden {
        display: none;
    }
}

@media (min-width: 1024px) {
    .lg\:w-2\/5 {
        width: 40% !important;
    }
}

@media (min-width: 1280px) {
    .item1 {
        grid-column: span 2;
    }
}

@media (min-width: 1536px) {
    .item1 {
        grid-column: span 2;
    }
}

.border-dashed {
    border: 2px dashed rgb(75, 85, 99);
}

.border-subMain {
    border: 1px dashed rgb(242, 0, 0);
}

.red-btn {
    border: 1px solid rgb(242, 0, 0);
    background-color: rgb(242, 0, 0);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4, 0, 1, 1);
}

.red-btn:hover {
    background-color: rgb(8 10 26 / 1);
}

.black-btn {
    border: 1px solid rgb(242, 0, 0);
    background-color: rgb(8, 10, 26);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem;
    transition-duration: .3s;
    width: 100%;
    transition-timing-function: cubic-bezier(.4, 0, 1, 1);
}

.black-btn:hover {
    background-color: rgb(242, 0, 0);
}

@media (min-width: 768px) {
    .black-btn {
        width: auto;
    }

    .red-btn {
        width: auto;
    }
}

/* mylist */
.table-auto {
    table-layout: auto;
}

.table-td {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    white-space: nowrap;
    line-height: 1.5rem;
}

.tool-tip {
    /* width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('https://source.unsplash.com/nKC772R_qog');*/
    background-position: center;
    background-size: cover;
    position: relative;
}

.tool-tip::before,
.tool-tip::after {
    --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: #333;

    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
}

.tool-tip::before {
    --translate-y: calc(-100% - var(--arrow-size));

    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: max-content;
    max-width: 100%;
    background: var(--tooltip-color);
}

.tool-tip:hover::before,
.tool-tip:hover::after {
    --scale: 1;
}

.tool-tip::after {
    --translate-y: calc(-1 * var(--arrow-size));
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
}